

                                Horizontal Navigation Bar 

ul {
	display: inline-block;
    vertical-align: top;
    width: 90%;
    height: 60px;
    margin-right: 50px;
    margin-top: 0px; 
	list-style-type: none;
	overflow: hidden;
	background-color:#ffffff; 
  }
  
  ul {
	position: sticky;
	top: 0;
  }
  

  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #e8debb;
  }
	 .active {
	background-color: #332218;
  }



.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 60px;
    margin-top: 0px;    /* vertically middle of the navbar */
}



/* vertically middle of the navbar */

li a, .dropbtn {
	display: inline-block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: lighter;
	font-size: 20px; 
	font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;


  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: #9a876e;
	color:#000000;
  }
  
  li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	position:absolute;
	display: none;
	background-color: #000000;
	min-width: 160px;
  }
  
  .dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #e8debb;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }


img .background
{ 
	width: 100%;
}


h1 {
    color: #e8debb;
	position: center;
	font-size: 70px;
	margin-bottom: 0%;
	font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: lighter;
}

h2 {
	color:#000000;
	font-weight: bolder;
	font-size: 15px; 
	font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
	color: #000000;
	position: right;
	font-weight: lighter;
	font-size: 30px; 
	font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {
color: #E8C6AE
}



#object1 {
	width: 200px;
	height: 50px;
	background-color: none;
	object-fit:scale-down;
	
}
	

* {
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial;
	padding: 10px;
  }
  
  /* Header/Blog Title */
  .header {
	padding: 30px;
	text-align: center;
	background: white;
  }
  
  .header h1 {
	font-size: 50px;
	text-align: center;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
	float: left;
	width: 60%;
  }
  
  /* Right column */
  .rightcolumn {
	float: right;
	width: 40%;
	background-color: #000000;
	padding-left: 20px;

  }

  body {
	background-color: #000000;
  font-weight: lighter;
  font-size: 20px; 
  color:#9a876e;
  font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Add a card effect for articles */
  .homecardR1 {
	background-color: #9B7D55;
	padding: 10px;
	margin-top: 15px;
	position: relative
  }

  .homecardR2 {
	background-color: #9a876e;
	padding: 20px;
	margin-top: 20px;
	position: relative
  }



  /* Clear floats after the columns */
  .row :after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	padding: 20px;
	text-align: center;
	position: bottom;
	background: #000000;
	margin-top: 20px;
  }


  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
	.topnav a {
	  float: none;
	  width: 100%;
	}
  }

  
