Horizontal Navigation Bar 

ul {
	display: inline-block;
    vertical-align: top;
    width: 90%;
    height: 60px;
    margin-right: 50px;
    margin-top: 0px; 
	list-style-type: none;
	overflow: hidden;
	background-color:#ffffff; 
  }
  
  ul {
	position: sticky;
	top: 0;
  }
  

  li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #e8debb;
  }
	 .active {
	background-color: #332218;
  }



.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 60px;
    margin-top: 0px;    
}



/* vertically middle of the navbar */

li a, .dropbtn {
	display: inline-block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  font-weight: lighter;
	font-size: 20px; 
	font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: #9a876e;
  }
  
  li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute
  }
  
  .dropdown-content a {
	color: rgb(0, 0, 0);
	padding: 12px 16px;
	display: block;
	text-align: right;
  }
  
  .dropdown-content a:hover {background-color: #e8debb;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }





  .header {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#422000;
    font-weight: lighter;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }






.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 60px;
    margin-top: 0px;    /* vertically middle of the navbar */
}













  /*header*/

  .header {

    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size:xx-large;
    color:#422000;
    font-weight: bolder;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }




.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 60px;
    margin-top: 0px;    /* vertically middle of the navbar */
}



* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .column {
    float: right;
    padding: 50px;
    width: 40%;
      font-size: 15px; 
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }

  .row {
    float: center;
    width: 100%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .row {
      width: 100%;
    }
  }

  img {
    width:fit-content;
    height: 300px;
    float: right;
    text-align:right;
    padding: 60px;
    position: relative;
  }


.textbox {

    text-align: center;
    font-size: 25px;
    color:#422000;
    font-weight: lighter;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;


}












/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#container{
    position: absolute;
    margin:auto;
    width: 755px;
    height :987px;
   background-color: black;
   text-align: center;
}

#background{
    position:absolute;
    width:555px;
    height:987px;
    left:100px;
    right: 100px;
    background-image: URL("https://raw.githubusercontent.com/Natasha-Warder/Natasha-Warder.github.io./main/dressbackground.png");
    
    
    
    
    
}


    


#man{
    position:absolute;
    width:555px;
    height:987px;
    
    
    background-image: url("file:///Users/tashwarder/Desktop/MULTI%20A/mada_html_template/avatar.png");
    
    
    
 
}

#shoes{
     position:absolute;
    width:555px;
    height:987px;
    
    
    
    
}

.shoe1{
     position:absolute;
    width:555px;
    height:987px;
    background-image: URL("https://raw.githubusercontent.com/Natasha-Warder/Natasha-Warder.github.io./main/shoea.png");
    
    
    
    
}

.shoe2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(file:///Users/tashwarder/Desktop/MULTI%20A/mada_html_template/shoeb.png);
    
}

.shoe3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(file:///Users/tashwarder/Desktop/MULTI%20A/mada_html_template/shoec.png);
}

#clothes{
    
     position:absolute;
    width:555px;
    height:987px;
    
    
    
    
}

.dress1{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: URL("https://raw.githubusercontent.com/Natasha-Warder/Natasha-Warder.github.io./main/dressa.png");
}

.dress2{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(file:///Users/tashwarder/Desktop/MULTI%20A/mada_html_template/dressb.png);
}

.dress3{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(file:///Users/tashwarder/Desktop/MULTI%20A/mada_html_template/dressc.png);
}


#hairfront{
     position:absolute;
    width:555px;
    height:987px;
    
}



#nextdress{
    position:absolute;
    right:50px;
    top:400px;
}

#nextshoe{
    position:absolute;
    right:50px;
    top:750px;
}

#prevhair{
    position:absolute;
    left:50px;
    top:150px;
}

#prevdress{
    position:absolute;
    left:50px;
    top:400px;
}

#prevshoe{
    position:absolute;
    left:50px;
    top:750px;
}


